
<div>

  <h2>Estas son todas nuestras lecciones por bootcamp</h2>

  {{!-- {{allLessons}} --}}

  <ul>
    {{#each allLessons}}

      <li>
        <p>Leccion: {{this.topic}}</p>
        <p>Description: {{this.description}}</p>
        <p>Bootcamp: {{this.bootcamp}}</p>
        {{!-- <p>Approved: {{this.approved}}</p> --}}
        {{#if this.approved}}
          <p>Esta lección está aprobada ⭐</p>
        {{else}}
          <p>Esta lección no está aprobada 🔴</p>
        {{/if}}
      </li>


    {{/each}}
  </ul>


</div>